<center><h1>Katas</h1></center>

<ul>
  <% @katas.each do |kata| %>
    <li>
      <%= link_to(kata.title, kata_path(kata.id)) %>
      - <%= link_to('Edit', edit_kata_path(kata.id)) %>
      - <%= link_to('Delete', delete_kata_path(kata.id), { method: :delete, data: {confirm: "Are you sure?"}}) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to('New Kata', new_kata_path) %>
</p>
