<center><h1>New Kata</h1></center>

<p>
  <%= form_tag(create_katas_path) do %>
    <p><%= text_field_tag :title %></p>
    <p><%= text_field_tag :description %></p>
    <p><%= submit_tag 'Save' %></p>
  <% end %>
</p>
